<!DOCTYPE html>
<html> 
    <head> 
        <title> This is title </title>
        <style> 
            .box {
                background-color: darkcyan;
                height: 200px;
                width: 200px;
             } 
            [v-cloak] {
                display: none;
            }
        </style>
    </head> 
    <body id="body" v-cloak> 
        <div>
            {{ description }}
            <hr />
        </div>
        
        <div>
            Name <input v-model=""/>
            Surname <input v-model=""/> <br>
            Sex <input v-model=""/> <br>
            <hr />
        </div>

        <div> 
            <button v-on:click="isVisible = !isVisible">Button 1</button>
            <div v-if="isVisible" class="box"> </div>
        </div>

        <script src="https://unpkg.com/vue@next"> </script>
        <script>
            let body = Vue.createApp( {
                data: function() {
                    return {
                        description: 'This is body',
                        isVisible: false
                    }
                }
            } )
            body.mount('#body')
        </script>
    </body>  
</html>