<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="icon" type="image/x-icon" href="img\wingicon.ico" />
        <link rel="stylesheet" type="text/css" href="styles\default.css" />
    </head>
    <body id="body" v-cloak>
        <h1 class="topbox"> FallenAngel Airline </h1>
        <div class="div-1">
            <fieldset class="field1">
                <legend>Name</legend>
                <input class="input1" type="text" name="name" id="name" placeholder="Enter your Name">
            </fieldset> <br>
            <fieldset class="field1">
                <legend>Surname</legend>
                <input class="input1" type="text" name="surname" id="surname" placeholder="Enter your Surname">
            </fieldset> <br>
            <fieldset class="field2">
                <legend>Class</legend>
                <input class="input1" type="text" name="class" id="class" placeholder="Enter your Class">
            </fieldset> <br>
        </div>
    </body>
    <footer class="bottombox">
        <h2> created by JK. 2022 </h2>
    </footer>

    <!-- Vue Script -->
    <script src="https://unpkg.com/vue@next"> </script>
        <script>
            let body = Vue.createApp( {
                data: function() {
                    return {
                        
                    }
                },
                methods: { 
                    print(input) {
                        console.log(input)
                    }
                }
            } )
            
            body.component('login-form', { //Define template for <login-form>
                template: // Use .prevent to stop default web behavior
                `   <form @submit.prevent="handleSubmit"> 
                            <h5>{{title}}</h5>
                            Email <input type="email" v-model="email" /> <br>
                            Password <input type="password" v-model="password"/> <br>
                            <button>Log In</button>
                    </form> 
                `,
                data() { //Define data in this form
                    return {
                        title: 'Login Form',
                        name: '', surname: ''
                    }
                },
                methods: {
                    handleSubmit() {
                        console.log('data submitted')
                        console.log(this.email + '' + this.password)
                    }
                }
            })

            body.mount('#body')
        </script>
</html>