h1 { /* Top Header */
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 300%;
  }
.topbox {
  background-color: lightpink;
  height: auto;
  width: auto;
  padding: 30px;
  margin: -10px;
  text-align: center;
}
h2 { /* Bottom Footer */
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  }
.bottombox {
  background-color: pink;
  height: auto;
  width: 98%;
  padding: 30px;
  margin: -10px;
  bottom: 0px;
  position: fixed;
  text-align: right;
}
h3 {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 280%;
}
h4 {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 240%;
}
p {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 180%;
  border: 10px solid pink;
  padding: 30px;
  margin: 100px;
}