@import url('http://fonts.cdnfonts.com/css/baskerville');
/* Input */
.field0 { /* Sub-box */
  border: 2px solid black;
  outline: none;
  padding: 16px;
  margin: auto;
  width: auto;
}
.field1 { /* Long box */
  border: 2px solid black;
  outline: none;
  padding: 5px;
  width: 40%;
  float: left;
  margin-left: 2%;
  margin-top: 2%;
}
.field2 { /* Middle box */
  border: 2px solid black;
  outline: none;
  padding: 5px;
  width: 30%;
  float: left;
  margin-left: 2%;
  margin-top: 2%;
}
.field3 { /* Short box */
  border: 2px solid black;
  outline: none;
  padding: 5px;
  width: 20%;
  float: left;
  margin-left: 2%;
  margin-top: 2%;
}
.legend1 { /*Name of field <legend> */
  font-family: 'Baskerville', sans-serif;
  font-weight: bold;
  text-align: left;
  margin-left: 2%;
}
.input1 { /* Plain text box <input> */
  border: none;
  outline: none;
  fill: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}
.input2 { /* Drop down <select> */
  outline: none;
  width: 100%;
}
.button1 { /* Long Big Button */
  font-family: 'Baskerville', sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 20%;
  padding: 1%;
  border: none;
  background-color: black;
  color: white;
}
.button1:hover {
  background-color: rgb(107, 107, 107);
}
.button2 { /* Small Button */
  font-family: 'Baskerville', sans-serif;
  font-weight: bold;
  font-size: 12px;
  width: 10%;
  padding: 1%;
  border: none;
  background-color: pink;
  color: white;
}
.button2:hover {
  background-color: palevioletred;
}


/* Div */
.div-1 { /* No text form border */
  border: 3px solid black;
  width: 50%;
  margin: auto;
  padding: 30px;
}
.div-2 { /* Form Border */
  background-color: white;
  opacity: 0.95;
  margin: 25%;
  width: 50%;
  padding: 4% 2%;
  vertical-align: center;
  text-align: center;
}
