.loginbox {
    background-color: darkblue;
    opacity: 0.2;
    border: 3px;
    padding: 30px;
    margin: 100px;
}
h3 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 280%;
    padding: 30px;
    margin: 100px;
}
h4 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 240%;
    padding: 30px;
    margin: 100px;
}
h5 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 180%;
    padding: 30px;
    margin: 100px;
}
fieldset > input {
    border: none;
    outline: none;
    width: 100%;
}
[v-cloak] {
    display: none;
}