@import url('http://fonts.cdnfonts.com/css/baskerville');
.result {
    text-align: center;
    font-family: 'Baskerville', sans-serif;
    background-color: white;
    width: 100%;
}
.result thead tr th{
    height: 70px;
    margin: 2%;
    border-bottom: 2px solid ;
}