@import url('http://fonts.cdnfonts.com/css/baskerville');
table, th, td {
    border: 1px solid;
    text-align: center;
    font-family: 'Baskerville', sans-serif;
    background-color: white;
  }
table {
    width: 100%;
}
th {
    height: 70px;
}